body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #8e98f5;
}
h1 {
  font-weight: lighter;
  font-size: 28px;
  margin-bottom: 0px;
  color: white;
  font-style: italic;
}

.inputSection{
  margin: 50px, 0px, 80px, 0px;
  width: 300px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
}
.addOption{
  margin-top: 10px;
}
button{
  background-color: #8e98f5;
}
.changeColor{
  background-color: yellow;
}
